@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
main {
  position: relative;
  height: 100vh;
  width: 100%;
}

.image_container {
  height: 100vh;
  width: 100%;
  position: absolute;
}

.image_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
